<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="ISO-8859-1">
  <title>Welcome To MedStore</title>
  <script src="lib/jquery-3.6.0.js"></script>
  <link rel="stylesheet" href="lib/bootstrap-4.0.0-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/header.css">
  <script src="lib/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
  <script src="js/header.js"></script>


  <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/css/fileinput.min.css" media="all"
    rel="stylesheet" type="text/css" />
  <script src="lib/jquery-3.6.0.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/js/plugins/piexif.min.js"
    type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/js/plugins/sortable.min.js"
    type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/js/fileinput.min.js"></script>




  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="lib/datepicker/css/bootstrap-datepicker.css">
  <script src="lib/datepicker/js/bootstrap-datepicker.js"></script>

  <style>
    .updatePdt {
      margin-left: 4px;
    }
    .usericon{
      padding: 3px 6px;
      
      border-radius: 50%;
     color: white;
      background:#007bff;
    }

    @media (min-width: 576px) {
      .card-columns {
        column-count: 2;
      }
    }

    @media (min-width: 768px) {
      .card-columns {
        column-count: 3;
      }
    }

    @media (min-width: 992px) {
      .card-columns {
        column-count: 4;
      }
    }

    @media (min-width: 1200px) {
      .card-columns {
        column-count: 4;
      }
    }

    .btnContent {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .card:hover {
      box-shadow: 1px 1px 20px #ccc;


    }

    .card {
      position: relative;
      transition: box-shadow 0.3s;


    }

    .expiry-warning {
      position: absolute;
      right: 0px;
      top: 0px;
      padding-left: 7px;
      padding-right: 7px;
      border-radius: 4px;
      background: #ff4343;
      color: rgb(255, 255, 255);

    }

    .expiry-success {
      position: absolute;
      right: 0px;
      top: 0px;
      padding-left: 7px;
      padding-right: 7px;
      border-radius: 4px;
      background: #00b953;
      color: rgb(255, 255, 255);

    }

    .update-count {
      position: absolute;
      top: 20px;
      left: 15px;
      background-color: #007bff1c;
      border-radius: 4px;
      padding-left: 5px;
      padding-right: 5px;
      color: #007bff;
      transition: top 0.3s;
    }

    .main-content {
      background-color: white;
      border: 1px solid #ddd;
      margin-top: 40px;
      padding-top: 30px;
      padding-bottom: 30px;
      border-radius: 5px;

    }





    .error {
      color: red;

    }

    .section-title {
      text-align: center;
      margin-bottom: 54px;
      color: #dc3545;

    }

    .pdt-name {
      font-weight: 700;
      color: #636363;
    }

    .title {
      font-weight: 600;
      margin-top: 20px;
      color: rgb(226 39 95 / 75%);

    }

    .value {
      margin-top: 5px;
      color: rgb(151, 151, 151);

    }

    .img-wrap {

      padding: 5px;
      border: 1px solid #eee;
      transition: box-shadow 0.5s;
    }

    .img-wrap:hover {
      box-shadow: 1px 1px 10px rgb(197, 197, 197);
    }
    .required:after {
      content: " *";
      color: red;
    }


    /* spinner css */
    .lds-dual-ring.hidden {
        display: none;
    }

    /*Add an overlay to the entire page blocking any further presses to buttons or other elements.*/
    .overlay {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100vh;
        /* background: rgba(0,0,0,.8); */
        z-index: 999;
        opacity: 1;
        transition: all 0.5s;
    }
    
    /*Spinner Styles*/
    .lds-dual-ring {
        display: inline-block;
        width: 80px;
        height: 80px;
    }
    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 5% auto;
        border-radius: 50%;
        border: 6px solid #fff;
        border-color: rgb(252, 138, 138) transparent rgb(252, 138, 138) transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    .opaque{
      opacity: 0.5;
    }
  </style>
  <script>
    $(document).ready(function () {
     
        $.ajax({
          type: "GET",
          url: "/resource" ,
          success: function (data) {
           console.log(data);
           $("#userName").text("");
           $("#userName").text(data);
           
           
          },
          error: function (xhr, status, error) {

            alert("Exception occured!");
            console.log(xhr.responseText);
          }
        });
     

      populateProducts("allProducts");
      $("#medImg").fileinput({
        'showUpload': false,
        'previewFileType': 'any',
        maxFileCount: 1,
        allowedFileExtensions: ["jpg", "jpeg", "png", "gif"]
      });



      $("#backToCardFromUpdateForm").click(function () {
        $("#pdtUpdateContainer").hide("fast");
        $("#cardContainer").show("fast");



      });

      $(".filter-btn").click(function () {
        var allClass = $(this).attr("class");
        var btnId = $(this).attr("id");
        var allPdtBtn = $("#showAllPdt");
        var inStoreBtn = $("#showInStorePdt");
        var expiredBtn = $("#showExpiredPdt");
        var soldBtn = $("#showSoldPdt");

        if (allClass.includes("btn-outline-primary")) {
          $(this).removeClass("btn-outline-primary").addClass("btn-primary");

          if (expiredBtn.attr("class").includes("btn-danger")) {
            expiredBtn.removeClass("btn-danger").addClass("btn-outline-danger");
          }

          if (inStoreBtn.attr("class").includes("btn-success")) {
            inStoreBtn.removeClass("btn-success").addClass("btn-outline-success");
          }

          if (soldBtn.attr("class").includes("btn-warning")) {
            soldBtn.removeClass("btn-warning").addClass("btn-outline-warning");
          }
          populateProducts("allProducts");




        } else if (allClass.includes("btn-outline-danger")) {
          $(this).removeClass("btn-outline-danger").addClass("btn-danger");


          if (allPdtBtn.attr("class").includes("btn-primary")) {
            allPdtBtn.removeClass("btn-primary").addClass("btn-outline-primary");
          }

          if (inStoreBtn.attr("class").includes("btn-success")) {
            inStoreBtn.removeClass("btn-success").addClass("btn-outline-success");
          }

          if (soldBtn.attr("class").includes("btn-warning")) {
            soldBtn.removeClass("btn-warning").addClass("btn-outline-warning");
          }
          populateProducts("expired");

        } else if (allClass.includes("btn-outline-success")) {
          $(this).removeClass("btn-outline-success").addClass("btn-success");

          if (allPdtBtn.attr("class").includes("btn-primary")) {
            allPdtBtn.removeClass("btn-primary").addClass("btn-outline-primary");
          }

          if (expiredBtn.attr("class").includes("btn-danger")) {
            expiredBtn.removeClass("btn-danger").addClass("btn-outline-danger");
          }

          if (soldBtn.attr("class").includes("btn-warning")) {
            soldBtn.removeClass("btn-warning").addClass("btn-outline-warning");
          }
          populateProducts("inStore");

        } else if (allClass.includes("btn-outline-warning")) {
          $(this).removeClass("btn-outline-warning").addClass("btn-warning");

          if (allPdtBtn.attr("class").includes("btn-primary")) {
            allPdtBtn.removeClass("btn-primary").addClass("btn-outline-primary");
          }

          if (expiredBtn.attr("class").includes("btn-danger")) {
            expiredBtn.removeClass("btn-danger").addClass("btn-outline-danger");
          }

          if (inStoreBtn.attr("class").includes("btn-success")) {
            inStoreBtn.removeClass("btn-success").addClass("btn-outline-success");
          }

          populateProducts("sold");


        }
      })

      function populateProducts(flag) {

        $.ajax({
          type: "GET",
          url: "/getAllProducts",
          beforeSend: function () {
            $('#loader').removeClass('hidden');
            $('#cardContainer').addClass('opaque');

            },

          success: function (data) {
            $('#loader').addClass('hidden');
           $('#cardContainer').removeClass('opaque');
            
           // console.log(data);

            var cardColumnHtml = "";
            var count = 0;
            for (var i = 0; i < data.length; i++) {
              record = data[i];
              var mfgDate = record.mfgDate;
              var expDate = record.expDate;
              
              var formattedMfgDt=formatDate(mfgDate);
              var formattedExpDt=formatDate(expDate);

              var currentDate = new Date();
              var oneDay = 24 * 60 * 60 * 1000;
              var difference = Math.round(((new Date(expDate)).getTime() - currentDate.getTime()) / oneDay);
              var boxCount = record.noBoxBought - record.noBoxSold;

              if (flag == "expired") {
                if (difference >= 0) {
                  continue;
                }
              } else if (flag == "inStore") {
                if (boxCount == 0) {
                  continue;
                }
              } else if (flag == "sold") {
                if (boxCount > 0) {
                  continue;
                }
              }
              count++;
              var html = "";
              var html2 = "";
              if (difference < 0) {
               // console.log(new Date(expDate) + "---" + difference + "---" + "Medicine Expired");
                html = "<div class=\"card\"><div class=\"expiry-warning\"><small>Expired</small></div>"

              } else if (difference < 30) {
                if (difference == 0) {
                  //console.log(new Date(expDate) + "---" + difference + "---" + "Medicine Expiring today.");
                  html = "<div class=\"card\"><div class=\"expiry-warning\"><small>Today</small></div>";
                } else {
                  //console.log(new Date(expDate) + "---" + difference + "---" + "About to expire in " +difference + " days.");
                    
                  html = "<div class=\"card\"><div class=\"expiry-warning\"><small>" + difference +
                    " days</small></div>";
                }
                //console.log("About to expire in 30 days.");
              } else {

                //console.log(new Date(expDate) + "---" + difference + "---" + "Expiry in more than 30 day.");
                html = "<div class=\"card\"><div class=\"expiry-success\"><small>" + difference +
                  " days</small></div>";
                //console.log("Expiry in more than 30 day");
              }

              if ((record.productImagePath).split(".").pop() == "jpg" || (record.productImagePath).split(".")
                .pop() == "png" || (record.productImagePath).split(".").pop() == "jpeg") {
                html2 = "<img class=\"card-img-top\" src=\"" + "images/" + record.productImagePath +
                  "\" alt=\"No Image\">";
              }
              
              var html3 = "<div class=\"card-body\"><h5 class=\"card-title\">" + record.productName +
                "</h5>" +

                "<div class=\"prop\"> <i class=\"bi bi-calendar3\"></i> <small>Manufacturing </small><br><small>" +
                  formattedMfgDt + "</small> </div> <div class=\"prop\">" +
                "<i class=\"bi bi-calendar3\"></i><small> Expiry </small><br><small>" + formattedExpDt +
                " </small></div><small class=\"card-text\">" + record.productDesc + "</small>" +
                "<div style=\"margin-top: 10px;\"><button  class=\"btn btn-sm btn-outline-primary viewpdt\"  data-id=\"" +
                record.id +
                "\">Open</button><a href=\"javascript:void(0)\" class=\"btn btn-sm btn-outline-primary updatePdt\"  data-id=\"" +
                record.id + "\">Update</a>" +
                "</div> </div></div>";
              html = html + html2 + html3;
              cardColumnHtml += html;
            }
            $("#cardColumnContainer").html("");
            $("#cardColumnContainer").html(cardColumnHtml);
            $("#updateCount").html("");
            if (flag == "allProducts") {
              $("#updateCount").html("<div class=\"count-text\">Total " + count + " records</div>");
            } else if (flag == "inStore") {
              $("#updateCount").html("<div class=\"count-text\"> " + count + " medicines in store</div>");
            } else if (flag == "sold") {
              $("#updateCount").html("<div class=\"count-text\"> " + count + " medicines sold out</div>");
            } else if (flag == "expired") {
              $("#updateCount").html("<div class=\"count-text\"> " + count + " medicines expired</div>");
            }
          },
          error: function (xhr, status, error) {
            $('#loader').addClass('hidden');
            alert("Exception occured!");
            console.log(xhr.responseText);
          },
          complete: function () { // Set our complete callback, adding the .hidden class and hiding the spinner.
                $('#loader').addClass('hidden');
                $('#cardContainer').removeClass('opaque');
            },
        });
      }
      function formatDate(date){
        return moment(date).format("DD-MM-YYYY");
      }

      $('#cardContainer').on('click', '.viewpdt', function () {
        // $(".viewpdt").click(function () {
        var pdtId = $(this).attr("data-id");
        $.ajax({
          type: "GET",
          url: "/getProductById/" + pdtId,
          success: function (data) {
            $("#pdtViewContainer").show("fast");
            $("#cardContainer").hide("fast");
            console.log(data);
            document.getElementById("pdtImg").src = "images/" + data.productImagePath;
            $("#pdtNameVal").text("");
            $("#descVal").text("");
            $("#batchVal").text("");
            $("#priceVal").text("");
            $("#sellerVal").text("");
            $("#discountVal").text("");
            $("#typeVal").text("");
            $("#boxBoughtVal").text("");
            $("#boxSoldVal").text("");
            $("#noteVal").text("");
            $("#mfgDtVal").text("");
            $("#expiryDtVal").text("");
            $("#bonusVal").text("");
            $("#compositionVal").text("");
            $("#brandVal").text("");
            

            $("#pdtNameVal").text(data.productName);
            $("#descVal").text(data.productDesc);
            $("#batchVal").text(data.batch);
            $("#priceVal").text(data.mrp);
            $("#sellerVal").text(data.sellerName);
            $("#discountVal").text(data.percentageDiscount);
            $("#typeVal").text(data.medType);
            $("#boxBoughtVal").text(data.noBoxBought);
            $("#boxSoldVal").text(data.noBoxSold);
            $("#noteVal").text(data.additionalNotes);
            $("#mfgDtVal").text(formatDate(data.mfgDate));
            $("#expiryDtVal").text(formatDate(data.expDate));
            $("#bonusVal").text(data.bonus);
            $("#compositionVal").text(data.composition);
            $("#brandVal").text(data.brand);
            $("#updatePdtBtn").attr("data-id", "");
            $("#updatePdtBtn").attr("data-id", pdtId);
            $("#deletePdtBtn").attr("data-id", "");
            $("#deletePdtBtn").attr("data-id", pdtId);
          },
          error: function (xhr, status, error) {

            alert("Exception occured!");
            console.log(xhr.responseText);
          }
        });
      })

      $("#backToCardContainer").click(function () {


        $("#pdtViewContainer").hide("fast");
        $("#cardContainer").show("fast");

      })

      $('#deletePdtBtn').click(function () {
        var pdtId = $(this).attr("data-id");
        openDeleteConfirmDialog(pdtId);
      })

      function openDeleteConfirmDialog(pdtId) {
        $("#pdtDeleteConfirmModal").modal("show");
        $("#hiddenId").val("");
        $("#hiddenId").val(pdtId);
      }
      $(".closeModalBtn").click(function(){
        $("#pdtDeleteConfirmModal").modal("hide");
      });

      $("#deleteConfirm").click(function () {
        var id = $("#hiddenId").val();
        $('#pdtDeleteConfirmModal').modal('hide');
        $.ajax({
          type: "GET",
          url: "/deleteProduct",
          data: {
            productId: id
          },
          success: function (data) {
            $("#pdtViewContainer").hide("fast");
            $("#cardContainer").show("fast");
            populateProducts("allProducts");
          },
          error: function (xhr, status, error) {
            // $('#pdtDeleteConfirmModal').hide('fast')

            alert("Exception occured!");
            console.log(xhr.responseText);
          }
        });
      });

      $('#cardContainer').on('click', '.updatePdt', function () {
        var pdtId = $(this).attr("data-id");
        $('#cardContainer').hide("fast");
        $("#pdtViewContainer").hide("fast");
        $('#pdtUpdateContainer').show("fast");
        populateForm(pdtId);
      })

      $('#updatePdtBtn').click(function () {
        var pdtId = $(this).attr("data-id");
        $("#pdtViewContainer").hide("fast");
        $('#pdtUpdateContainer').show("fast");
        populateForm(pdtId);
      })

      function populateForm(productId) {
        $.ajax({
          type: "GET",
          url: "/getProductById/" + productId,
          success: function (data) {
            console.log(data);
            $('#pdtIdHidden').val(data.id);
            $("#pdtNameInput").val(data.productName);
            $("#pdtDescInput").val(data.productDesc);
            $("#pdtMfgInput").val(formatDate(data.mfgDate));
            $("#pdtExpInput").val(formatDate(data.expDate));
            $("#pdtBatchInput").val(data.batch);
            $("#pdtMrpInput").val(data.mrp);
            $("#pdtSellerInput").val(data.sellerName);
            $("#pdtDiscountInput").val(data.percentageDiscount);
            $("#pdtMedTypeInput").val(data.medType);
            $("#boxNoBoughtInput").val(data.noBoxBought);
            $("#boxNoSoldInput").val(data.noBoxSold);
            $("#addNoteInput").val(data.additionalNotes);
            $("#pdtBrandInput").val(data.brand);
            $("#pdtCompositionInput").val(data.composition);
            $("#pdtBonusInput").val(data.bonus);
            $('.datepicker').datepicker({
              format: 'dd-mm-yyyy',
              startDate: '-3y'
            });
          },
          error: function (xhr, status, error) {
            alert("Exception occured!");
            console.log(xhr.responseText);
          }
        });
      }

      $("#productUpdateForm").validate({
        rules: {
          pdtNameInput: {
            required: true,
          },
          pdtMfgInput: {
            required: true,
          },
          pdtBatchInput: {
            required: true,
          },
          pdtExpInput: {
            required: true,
          },
          pdtMrpInput: {
            required: true,
            number: true
          },
          pdtDiscountInput: {
            number: true
          },
          pdtSellerInput: {
            required: true,
          },
          boxNoBoughtInput: {

            digits: true
          },
          boxNoSoldInput: {

            digits: true
          },
        },
        messages: {
          pdtNameInput: {
            required: "Please enter product Name",
          },
          pdtMfgInput: {
            required: "Please enter mfg date",
          },
          pdtBatchInput: {
            required: "Please enter batch number",
          },
          pdtExpInput: {
            required: "Please enter exp date",
          },
          pdtMrpInput: {
            required: "Please enter Price",
            number: "Provide a valid number"
          },
          pdtSellerInput: {
            required: "Please enter seller name",
          },
          pdtDiscountInput: {
            number: "Provide a valid number"
          },
          boxNoBoughtInput: {
            digits: "Provide a valid integer number"
          },
          boxNoSoldInput: {
            digits: "Provide a valid integer number"
          },
        },
        submitHandler: function (form) {
          form.submit();
        }
      });
 
    });
  </script>

</head>

<body style="background: #eee;">

  <nav class="navbar navbar-expand navbar-light bg-light" style="box-shadow: 1px 1px 11px #ddd;position: relative;">
    <div class="logo"><img src="img/logo.png" alt="logo" style="height: 3rem;"></div><a class="navbar-brand" href="/medstore" style="color: #dc3563;">Med Store</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="collapse navbar-collapse navbar-center" id="navbarTogglerDemo02">
      <ul class="navbar-nav  mr-auto mt-2 mt-lg-0 navul">
        <li class="nav-item liclicked">
          <a class="nav-link navclicked" href="/medstore" id="loadHomePage">Home <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="/pdtListPage" id="loadAllProductsPage">Products</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Category</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/pdtUploadPage" id="loadProductUploadPage">Upload</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="http://192.168.1.102:8080/advancedSearchPage" id="loadAdvSearchPage">Advanced
            Search</a>
        </li> -->

      </ul>
      
     
    </div>
    <div class="" style="position: absolute;right: 1rem;">
      <div class="" style="display: inline; color: #007bff;"><i class="bi bi-bell"></i></div>
        <div class="usericon" style="display: inline;margin-left: 1rem;"><i class="bi bi-person"></i></div>
      <div class="userDetail" id="userName" style="display: inline;"></div>
      <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}" style="display: inline;margin-left: 1rem;">
       
        <button class="btn btn-sm btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
      </form>
    
    </div>
    
    
  
  </nav>
  <div class="container" id="cardContainer" style="position: relative;">
    <div class="btnContent">
      <button class="btn btn-sm btn-primary filter-btn" id="showAllPdt">All</button>
      <button class="btn btn-sm btn-outline-success filter-btn" id="showInStorePdt">In Store</button>
      <button class="btn btn-sm btn-outline-warning filter-btn" id="showSoldPdt">Sold</button>
      <button class="btn btn-sm btn-outline-danger filter-btn" id="showExpiredPdt">Expired</button>

    </div>
    <div id="updateCount" class="update-count"></div>


    <div class="card-columns" id="cardColumnContainer">


    </div>
  </div>
  <div class="row" id="pdtViewContainer" style="display: none;">
    <div class="col">
    </div>
    <div class="col-10 main-content">


      <div class="container" style=" position: relative;">
        <h4 class="section-title">Medicine Details</h4>
        <div style="position: absolute; left:15px; top: 20px;">
          <button class="btn btn-outline-primary btn-sm" id="backToCardContainer">
            <i class="bi-arrow-left"></i>
            Back To List</button>

        </div>

        <div>
          <h4 class="pdt-name" id="pdtNameVal"> </h4>

        </div>
        <div class="row">
          <div class="col-6">

            <div class="propGroup col-sm-12 ">
              <div class="title" id=""> Description</div>
              <div class="value" id="descVal"> </div>
            </div>
            <div class="col-sm-12" style="margin-top:20px;">
              <img class="img-fluid img-wrap" id="pdtImg" alt="No image found">

            </div>

          </div>

          <div class="col-6">
            <div class="row">
              <div class="propGroup col-sm-6">
                <div class="title" id=""> Batch Id</div>
                <div class="value" id="batchVal"></div>
              </div>
              <div class="propGroup col-sm-6">
                <div class="title" id=""> Manufacturing Date</div>
                <div class="value" id="mfgDtVal"> </div>
              </div>
            </div>
            <div class="row">
              <div class="propGroup col-sm-6">
                <div class="title" id=""> Expiry Date</div>
                <div class="value" id="expiryDtVal"> </div>
              </div>


              <div class="propGroup col-sm-6">
                <div class="title" id=""> Price</div>
                <div class="value" id="priceVal"> </div>
              </div>
            </div>
            <div class="row">


              <div class="propGroup col-sm-6">
                <div class="title" id=""> Seller</div>
                <div class="value" id="sellerVal"> </div>
              </div>
              <div class="propGroup col-sm-6">
                <div class="title" id=""> Discount</div>
                <div class="value" id="discountVal"></div>
              </div>
            </div>
            <div class="row">

              <div class="propGroup col-sm-6">
                <div class="title" id="">Medicine Type </div>
                <div class="value" id="typeVal"></div>
              </div>
              <div class="propGroup col-sm-6">
                <div class="title" id=""> Box Bought</div>
                <div class="value" id="boxBoughtVal"></div>
              </div>
            </div>
            <div class="row">

              <div class="propGroup col-sm-6">
                <div class="title" id=""> Box Sold
                </div>
                <div class="value" id="boxSoldVal"> </div>
              </div>
              <div class="propGroup col-sm-6">
                <div class="title" id=""> Brand
                </div>
                <div class="value" id="brandVal"> </div>
              </div>
            </div>
            <div class="row">

              <div class="propGroup col-sm-6">
                <div class="title" id="">Bonus </div>
                <div class="value" id="bonusVal"></div>
              </div>
              <div class="propGroup col-sm-6">
                <div class="title" id="">Composition</div>
                <div class="value" id="compositionVal"></div>
              </div>
            </div>
            <div class="propGroup">
              <div class="title" id="">Additional Note
              </div>
              <div class="value" id="noteVal"></div>
            </div>
          </div>
          <div class="col-md-12" style="text-align: center; margin-top: 50px;">
            <button class="btn  btn-success" id="updatePdtBtn" style="margin-right: 10px;"><i
                class="bi bi-chevron-up"></i>
              Update</button>
            <button class="btn  btn-danger" id="deletePdtBtn"><i class="bi bi-trash3"></i> Delete</button>
          </div>
        </div>

      </div>
    </div>
    <div class="col">
    </div>
  </div>

  <div class="row" id="pdtUpdateContainer" style="display: none;">
    <div class="col">
    </div>
    <div class="col-10 main-content">
      <div class="container" style="position: relative;">
        <h4 class="section-title">Update Medicine Details</h4>
        <div style="position: absolute; left:15px; top: 20px;">
          <button class="btn btn-outline-primary btn-sm" id="backToCardFromUpdateForm">
            <i class="bi-arrow-left"></i>
            Back To List</button>

        </div>
        <form id="productUpdateForm" method="post" enctype="multipart/form-data" action="/addProduct">


          <div class="row">
            <div class="col-6">

              <div class="form-group ">

                <div class="col-sm-12">
                  <input type="hidden" id="pdtIdHidden" name="pdtIdInput">
                  <input type="hidden" id="pageFlag" name="pageFlag" value="backToCard">
                  <input type="file" id="medImg" name="medImg">


                </div>
              </div>
              <div class="form-group ">
                <label for="pdtDescInput" class="col-sm-10 col-form-label">Description :</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="pdtDescInput" name="pdtDescInput"
                    placeholder="Description">
                </div>
              </div>

              <div class="form-group ">
                <label for="boxNoBoughtInput" class="col-sm-10 col-form-label">Box Bought :</label>
                <div class="col-sm-12">
                  <input type="" class="form-control" id="boxNoBoughtInput" name="boxNoBoughtInput"
                    placeholder="No of box bought">
                </div>
              </div>
              <div class="form-group ">
                <label for="boxNoSoldInput" class="col-sm-10 col-form-label">Box Sold :</label>
                <div class="col-sm-12">
                  <input type="" class="form-control" id="boxNoSoldInput" name="boxNoSoldInput"
                    placeholder="No of box sold">
                </div>
              </div>
              <div class="form-group ">
                <label for="pdtBonusInput" class="col-sm-10 col-form-label">Bonus </label>
                <div class="col-sm-12">
                  <input type="" class="form-control" id="pdtBonusInput" name="pdtBonusInput"
                    placeholder="Bonus">
                </div>
              </div>
              <div class="form-group ">
                <label for="addNoteInput" class="col-sm-10 col-form-label">Note :</label>
                <div class="col-sm-12">
                  <!-- <input type="textarea" class="form-control" id="addNoteInput" name="addNoteInput" placeholder="Provide additional note"> -->
                  <textarea type="textarea" class="form-control" id="addNoteInput" name="addNoteInput"
                    placeholder="Provide additional note"></textarea>
                </div>
              </div>


            </div>

            <div class="col-6">

              <div class="form-group">
                <label for="pdtNameInput" class="col-sm-10 col-form-label required">Product Name:</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="pdtNameInput" name="pdtNameInput"
                    data-error="You must have a name." placeholder="Product Name" maxlength="20" minlength="3" required>
                </div>
              </div>
              <div class="form-group ">
                <label for="pdtBrandInput" class="col-sm-10 col-form-label required">Brand </label>
                <div class="col-sm-12">
                  <input type="" class="form-control" id="pdtBrandInput" name="pdtBrandInput"
                    placeholder="Brand name">
                </div>
              </div>
              <div class="form-group ">
                <label for="pdtCompositionInput" class="col-sm-10 col-form-label">Composition </label>
                <div class="col-sm-12">
                  <input type="" class="form-control" id="pdtCompositionInput" name="pdtCompositionInput"
                    placeholder="provide medicine composition">
                </div>
              </div>




              <div class="form-group ">
                <label for="pdtBatchInput" class="col-sm-10 col-form-label required">Batch :</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="pdtBatchInput" name="pdtBatchInput"
                    placeholder="Batch Id">
                </div>
              </div>
              <div class="form-group ">
                <label for="pdtMfgInput" class="col-sm-10 col-form-label required">Mfg Date :</label>
                <div class="col-sm-12">

                  <input type="text" class="form-control datepicker" name="pdtMfgInput" id="pdtMfgInput"
                    data-provide="datepicker" placeholder="dd-mm-yyyy">
                </div>
              </div>
              <div class="form-group ">
                <label for="pdtExpInput" class="col-sm-10 col-form-label required">Exp. Date :</label>
                <div class="col-sm-12">

                  <input type="text" class="form-control datepicker" id="pdtExpInput" name="pdtExpInput"
                    data-provide="datepicker" placeholder="dd-mm-yyyy">
                </div>
              </div>
              <div class="form-group ">
                <label for="pdtMrpInput" class="col-sm-10 col-form-label required">MRP :</label>
                <div class="col-sm-12">
                  <input type="" class="form-control" id="pdtMrpInput" name="pdtMrpInput" placeholder="Price">
                </div>
              </div>
              <div class="form-group ">
                <label for="pdtSellerInput" class="col-sm-10 col-form-label required">Seller :</label>
                <div class="col-sm-12">
                  <input type="" class="form-control" id="pdtSellerInput" name="pdtSellerInput"
                    placeholder="Seller Name">
                </div>
              </div>
              <div class="form-group ">
                <label for="pdtDiscountInput" class="col-sm-10 col-form-label">Discount :</label>
                <div class="col-sm-12">
                  <input type="" class="form-control" id="pdtDiscountInput" name="pdtDiscountInput"
                    placeholder="Discount %">
                </div>
              </div>
              <div class="form-group ">
                <label for="pdtMedTypeInput" class="col-sm-10 col-form-label">Type :</label>
                <div class="col-sm-12">
                  <select type="dropdown" class="form-control" id="pdtMedTypeInput" name="pdtMedTypeInput"
                      placeholder="Medicine Type">
                      <option value="Tablet">Tablet</option>
                      <option value="Capsule">Capsule</option>
                      <option value="Syrup">Syrup</option>
                      <option value="Injection">Injection</option>
                      <option value="Drop">Drop</option>
                      <option value="Oral">Oral</option>
                      </select>
                </div>
              </div>

            </div>
          </div>






          <div class=" row">
            <div class="col-sm-12" style="padding-left: 30px;padding-right: 30px; margin-top: 20px;">
              <button class="btn btn-primary" id="uploadProduct">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="loadingModal" style="display: none">
    <div class="center">
        <img alt="abc" src="loader.gif" />
        <h1>loading</h1>
    </div>
</div>
  <div class="modal" tabindex="-1" role="dialog" id="pdtDeleteConfirmModal">
    <input type="hidden" id="hiddenId">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Record</h5>
          <button type="button" class="close closeModalBtn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure,you want to delete?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="deleteConfirm">Yes</button>
          <button type="button" class="btn btn-secondary closeModalBtn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div id="loader" class="lds-dual-ring hidden overlay"></div>
</body>

</html>