<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Success</title>
    <script src="lib/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="lib/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    
    <script src="lib/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 500px;">
        <div class="col">
            <div class="success-msg" style="text-align: center;"><h4>Registration successful!</h4></div>
            <div class="login-link" style="text-align: center;"><a href="/login" class="btn btn-lg btn-success">Go to Login</a></div>
        </div>
    </div>
        


    </div>

    
    
</body>
</html>